body {
    background-image: radial-gradient(white, slategray, grey);
}

p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    list-style: none;
}

.heading {
    text-align: center;
    font-size: 20pt;
    text-shadow: 2px 2px white;
}
